In [1]:
import os
import re
import time
import codecs
import subprocess
import datetime

In [11]:
files = os.listdir('D:/Project/LOG')
print(files)

['192.168.232.120-2019040908.log', '192.168.232.120-2019040910.log', '192.168.232.120-2019040913.log', '192.168.232.120-2019040914.log', '192.168.232.128-2019032716.log', '192.168.232.128-2019040914.log', 'session-20190327.log']

In [12]:
time_now = datetime.datetime.now().strftime('%Y%m%d%H%M%S')
print(time_now)
files_list = list(filter(lambda x:x[-4:]=='.log' and x[0:8]==time_now, files))
print(files_list)

20190409165215
[]

In [ ]:
import subprocess
import time
#读取车辆坐标位置文件
def get_cortxt():
    p = subprocess.Popen('tail -F /home/admin/LOG/2019040916.log',shell=True,
                    stdout=subprocess.PIPE,stderr=subprocess.PIPE)
    while True:
        line = p.stdout.readline()
        if line:
            cor_areas(line)

In [ ]:
#!/usr/bin/env python
#--*-- coding:utf-8 --*--

#python根据一个给定经纬度的点，进行附近5km距离坐标查询
import pymysql
import os
import time
import subprocess
import numpy as np
import pandas as pd
from math import sin, asin, cos, radians, fabs, sqrt,degrees

#读取车辆坐标位置文件
def get_cortxt():
    p = subprocess.Popen('tail -F D:/cor.txt',shell=True,
                    stdout=subprocess.PIPE,stderr=subprocess.PIPE)
    while True:
        line = p.stdout.readline()
        if line:
            cor_areas(line)
        
#计算坐标点周围5km，东西两侧距离,lat表示纬度，lng表示经度
def cor_areas(coordinate):
    dlng = 2 * asin(sin(distance / (2 * EARTH_RADIUS)) / cos(coordinate[1]))
    dlng = degrees(dlng)        # 弧度转换成角度

    #计算坐标点周围5km，南北两侧距离坐标
    dlat = distance / EARTH_RADIUS
    dlat = degrees(dlat)     # 弧度转换成角度
    
    #cor1左上角坐标点，cor2右下角坐标点
    cor1_vin,cor1_lat,cor1_lng = coordinate[0],coordinate[1] + dlat,coordinate[2] - dlng
    cor2_vin,cor2_lat,cor2_lng = coordinate[0],coordinate[1] - dlat,coordinate[2] + dlng
    print(cor1_lat)
#主函数部分
if __name__ == '__main__':
    EARTH_RADIUS=6371 #地球半径
    distance = 5  #车辆周围距离5km
    get_cortxt()

In [87]:
import requests
import json
lng_lat = 116.470098,39.992838
base = "https://m.amap.com/navi/?"
parameters={lng_lat&destName=阜通西&'hideRouteIcon'=1&'key':1ef4feb796dad8d6892708ab9bc1a8f2}

res = requests.get(parameters)
# res.text

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

D:\software\Anaconda-InstallFiles\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [22]:
station_id = pd.read_csv('D:/station_id_all.txt',sep='\t',encoding='utf-8')

In [92]:
station_id.count()

station_id    346
dtype: int64

In [154]:
for i in range(len(station_id)):
    id = int(station_id.loc[i])
    pid = (power['station_id']==id)
    
    pile_type = str(power[pid]['pile_type'].sum())
    with open('D:/pile_type.txt','a+') as p:
        p.writelines(pile_type+'\n')

#桩的数量
#     pile_num = str(power[pid]['pile_name'].count())
#     with open('D:/pile_num.txt','a+') as pile:
#         pile.writelines(pile_num+'\n')
#场站总功率
#     power_sum = str(power[pid]['rate_power'].sum())
#     with open('D:/powersum.txt','a+') as f:
#         f.writelines(power_sum+'\n')

#     piletype_0 = power[id01][power[id01]['pile_type']==0]['pile_type'].count()  #站点内类型桩类型为0的数量
#     piletype_1 = power[id01][power[id01]['pile_type']==1]['pile_type'].count()  #站点内类型桩类型为0的数量

In [93]:
power = pd.read_csv('D:/pilepower_v1.0-20190411.txt',sep='\t',encoding='utf-8')

In [94]:
power.head(3)

,station_id,pile_name,rate_power,pile_type,rated_voltage,rated_current
0,114705900910300310,01号桩,7.5,0,220,32.0
1,114705900910300310,02号桩,7.5,0,220,32.0
2,114705900910300310,03号桩,7.5,0,220,32.0

In [86]:
power[power['pile_type']==0].count()

station_id       1644
pile_name        1644
rate_power       1644
pile_type        1644
rated_voltage    1644
rated_current    1644
dtype: int64

In [90]:
power[power['pile_type']==1]['station_id'].to_csv('D:/id1.csv',encoding='utf-8')

D:\software\Anaconda-InstallFiles\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [91]:
power[power['pile_type']==0]['station_id'].to_csv('D:/id0.csv',encoding='utf-8')

D:\software\Anaconda-InstallFiles\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [88]:
power.count()

station_id       3593
pile_name        3593
rate_power       3593
pile_type        3593
rated_voltage    3593
rated_current    3593
dtype: int64

In [345]:
coor = pd.read_csv('D:/coordinate.txt',encoding='utf-8')

In [357]:
import folium

In [353]:
coor.head(3)

          lng        lat
0  120.652630  31.148974
1  120.654624  31.180200
2  120.643735  31.158202

In [351]:
coor['lng'].loc[0]

120.65263

In [16]:
import numpy as np
import pandas as pd
import time
from datetime import datetime
import re
import os

In [23]:
df = pd.read_csv('D:/Work-Files/Data/qs_charge_order/201903_order.csv',encoding='utf-8')

In [24]:
df.head(2)

,owner_id,station_id,charge_energy,charge_start_time,charge_end_time,create_time
0,346.0,8546040374146392203,30.12,22/3/2019 22:04:41,22/3/2019 22:55:51,NaN
1,346.0,4571640702956861343,0.00,26/3/2019 15:16:21,26/3/2019 15:16:42,NaN

In [25]:
station_id = df['station_id']

In [39]:
len(df)

318197

In [51]:
df.sort_values('station_id',inplace=True)

In [62]:
df.tail()

,owner_id,station_id,charge_energy,charge_start_time,charge_end_time,create_time
11876,2000.0,9988257670881855778,4.85,21/3/2019 07:32:05,21/3/2019 09:16:21,NaN
11875,2000.0,9988257670881855778,2.58,19/3/2019 08:26:29,19/3/2019 09:30:36,NaN
290953,2000.0,9988257670881855778,8.63,28/3/2019 08:36:06,28/3/2019 12:10:05,28/3/2019 08:36:07
124136,2000.0,9988257670881855778,0.00,11/3/2019 08:52:41,11/3/2019 08:52:41,11/3/2019 08:52:41
11872,2000.0,9988257670881855778,7.22,15/3/2019 08:48:11,15/3/2019 11:15:40,NaN

In [70]:
df[df['station_id']==8546040374146392203]

Empty DataFrame
Columns: [owner_id, station_id, charge_energy, charge_start_time, charge_end_time, create_time]
Index: []

In [74]:
energy = df[df['charge_energy'] > 1]

In [122]:
len(energy)

278786

In [123]:
energy.to_csv('D:/energy03.txt',encoding='utf-8',sep=',')

In [121]:
energy.tail()

,owner_id,station_id,charge_energy,charge_start_time,charge_end_time,create_time
11877,2000.0,9988257670881855778,1.78,22/3/2019 09:44:55,22/3/2019 10:16:26,NaN
11876,2000.0,9988257670881855778,4.85,21/3/2019 07:32:05,21/3/2019 09:16:21,NaN
11875,2000.0,9988257670881855778,2.58,19/3/2019 08:26:29,19/3/2019 09:30:36,NaN
290953,2000.0,9988257670881855778,8.63,28/3/2019 08:36:06,28/3/2019 12:10:05,28/3/2019 08:36:07
11872,2000.0,9988257670881855778,7.22,15/3/2019 08:48:11,15/3/2019 11:15:40,NaN

In [93]:
pile_ex = pd.read_excel('D:/pile.xls')

In [86]:
pile_ex.head()

,station_id,pile_name,rate_power,pile_type,rated_voltage,rated_current
0,9351230731467768675,06号桩,7.0,0,220,32.0
1,9351230731467768675,园区桩,7.0,0,220,32.0
2,9351230731467768675,02,7.0,0,220,32.0
3,9425894928056416992,01号桩,7.0,0,220,32.0
4,9425894928056416992,02号桩,7.0,0,220,32.0

In [88]:
pile_ex.count()

station_id       3622
pile_name        3622
rate_power       3622
pile_type        3622
rated_voltage    3622
rated_current    3622
dtype: int64

In [89]:
pile_ex['station_id'].count()

3622

In [90]:
res = pile_ex.drop_duplicates('station_id','first')

In [91]:
res.head()

,station_id,pile_name,rate_power,pile_type,rated_voltage,rated_current
0,9351230731467768675,06号桩,7.0,0,220,32.0
3,9425894928056416992,01号桩,7.0,0,220,32.0
12,4024774099062828090,01号桩,7.5,0,220,32.0
129,8841455721229977913,01号桩,7.5,0,220,32.0
174,9795027542934409619,01号桩,7.5,0,220,32.0

In [92]:
res['station_id'].count()

352

In [94]:
station = pd.read_csv('D:/station_id_count.txt',encoding='utf-8',sep='\t')

In [105]:
station.loc[1]

station_id    4024774099062828090
Name: 1, dtype: uint64

In [120]:
for i in range(len(station)):
    id = int(station.loc[i])
    pid = (pile_ex['station_id']==id)

#     pile_num = str(pile_ex[pid]['pile_name'].count())
#     with open('D:/pile_num.txt','a+') as pile:
#         pile.writelines(pile_num+'\n')
    pile_ex_sum = str(pile_ex[pid]['rate_power'].sum())
    with open('D:/pile_exsum.txt','a+') as f:
        f.writelines(pile_ex_sum+'\n')

In [274]:
charge = pd.read_csv('D:/charge03.txt',encoding='utf-8',sep='\t')

In [275]:
charge.head(3)

,station_id,pile_id,charge_energy,charge_total_fee,charge_start_time,charge_end_time
0,4070794765468792359,17090100000,141.50,283.00,1/3/2019 00:00:02,1/3/2019 01:20:34
1,4070794765468792359,17090100000,140.43,280.86,1/3/2019 00:00:03,1/3/2019 01:19:57
2,7710846335296641879,18125830000,127.91,91.98,1/3/2019 00:00:05,1/3/2019 03:15:14

In [173]:
len(charge)

318197

In [276]:
bg_charge = charge[charge['charge_energy'] > 1]

In [277]:
len(bg_charge)

278786

In [177]:
bg_charge.to_csv('D:/bg_charge03.txt',encoding='utf-8')

In [308]:
type(bg_charge['station_id'])

pandas.core.series.Series

In [339]:
#按station_id输出订单数量
# for i in range(len(st)):
#     res = bg_charge[bg_charge['station_id']==str(st['station_id'][i])].count()
#     with open('D:/count_num.txt','a+',encoding='utf-8')as f:
#         f.writelines(str(res['station_id'])+'\n')
#计算电量     
bg_charge[bg_charge['station_id']==str(st['station_id'][40])]['charge_energy'].sum()

3301.76

In [323]:
st = pd.read_csv('D:/station.txt',encoding='utf-8')

In [305]:
str(st['station_id'][3])

'9795027542934409619'

In [7]:
import folium

'''创建底层Map对象'''
m = folium.Map(location=[120.356422, 32.102583],
              zoom_start=8,
              control_scale=True)
'''创建geojson层'''
gj = folium.GeoJson(data={ "type": "MultiPoint",
  "coordinates": [
      [ [120.336422, 32.202583], [120.376422, 32.192583] ],
      [ [120.316422, 32.102583], [120.306422, 32.152583] ]
    ]
  })

'''将gj添加到m上'''
gj.add_to(m)

'''显示m'''
m